<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<title>Weather</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row col-xs-12 col-md-10">
			<h2>The city weather</h2>
			<div class="well col-md-8">
				<div class="row">
					<form>
						<fieldset>
							<div class="form-group">
								<input class="form-control typeahead twitter-typeahead"
									data-provide="typeahead" name="query" id="query"
									placeholder="Start typing city name to search..." type="text">
							</div>
						</fieldset>
						<input type="hidden" id="seletectedId" />
						<button type="button" class="btn btn-primary" id="btn-search">Search</button>
					</form>
				</div>
				<!-- Display weather data -->
				<span class="clear-fix">&nbsp;</span>
				<div class="row">
					<table class="table table-hover">
						<tbody id="weatherContentId">
							
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>


	<script type="text/javascript" charset="utf8"
		src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

	<script type="text/javascript" src="../handlebars-v4.1.0.js"></script>

	<script type="text/javascript">
		$(document).ready(
				function() {

					$("#query").typeahead(
							{
								source : function(query, syncResults,
										asyncResults) {
									$.get('/api/v1/city/' + query).done(
											function(data) {
												syncResults(data);
											});
								},
								displayText : function(item) {
									return item.name + ' – ' + item.countryCode
											+ "(Lon:" + item.coordLon + ",Lat:"
											+ item.coordLat + ")";
								},
								afterSelect : function(item) {
									$("#seletectedId").val(item.id);
								},
								minLength : 3,
								delay : 0,
							});

					$('#btn-search').click(function(e) {
						var cityId = $("#seletectedId").val();
						console.log(cityId);
						if (cityId > 0) {
							$.get("api/v1/weather/"+cityId).done(function(data){
								if (Array.isArray(data) && data.length > 0) {
									dodisplaytheWeather(data);
								}
							});

						}

					});
					
					

				});
		
		function dodisplaytheWeather(data) {
			var source = $('#weather_data_tmpl')[0].innerHTML;
			var template = Handlebars.compile(source);
			var weatherlist = template(data);
			$('#weatherContentId').html(weatherlist);
			
			$('.btn-delete-weather').click(function(e){
				var weatherId = $(this).attr( "weather_id" );
				var cityId = $(this).attr( "city_id" );
				var dt = $(this).attr( "dt" );
				
				console.log(weatherId);
				console.log(cityId);
				console.log(dt);
				//var result = true;
				/* if (typeof weatherId !== "undefined" && weatherId != null && weather > 0 ) {
					 result = deleteWeatherById(weatherId);	
				} else {
					 if (cityId > 0 && dt > 0)
					 	result = deleteWeatherLogByCityAndDt(cityId, dt);
				}
				 */
				 
				 deleteWeatherLogByCityAndDt(cityId, dt,$(this));
			  
			});
			
		}
		
		function deleteWeatherLogByCityAndDt(cityId, dt, _this){
			if (cityId > 0 && dt > 0) {
				$.ajax({
				    url: 'api/v1/weather/'+cityId+'/'+dt,
				    type: 'DELETE',
				    success: function(result) {
				    	console.log("Delete result "+result);
						if (typeof result === "boolean" && result) 
							_this.closest('tr').remove();
				    }
				});
			}
			
		}
	</script>
	<script id="weather_data_tmpl" type="text/x-handlebars-teample">
		{{#each this}}
			<tr>
				<td>{{city.name}}</td>
				<td>{{city.countryCode}} <small>({{city.coordLon}},{{city.coordLat}})</small></td>
				<td>{{dt_txt}}</td>
				<td>{{#weather}} {{main}}{{/weather}}</td>
				<td><button type="button" class="btn btn-danger btn-delete-weather" weather_id="{{id}}" city_id="{{city.id}}" dt="{{dt}}">Delete</button></td>
			</tr>
		{{/each}}
	</script> 
</body>
</html>